<% wrap_layout :layout do %>


<!-- start blog post section -->
<section class="blogs">
  <div class="container">
    <div class="row justify-content-md-center">

      <!--  start blog center-->
      <div class="col-lg-9 col-md-12">
        <div class="posts">
          <!--  start post-->
          <div class="post">
            <div class="content" style="padding: 0; background-color: #fff">
              <div class="post-meta">
                <div class="post-title">
                  <h5><%= current_article.title %></h5>
                </div>
                <ul class="meta">
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-user" aria-hidden="true"></i> <%= current_article.data.author %>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fas fa-calendar-alt" aria-hidden="true"></i> <%= current_article.date.strftime('%b %e, %Y') %>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="post-cont">
                <%= yield %>
              </div>
            </div>
          </div>
          <!--  end post-->
        </div>
      </div>
      <!--  end blog center-->

    </div>
  </div>
</section>
<!-- end blog post section -->

<% end %>