body {
  background-color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: 'Manuale', serif;
  font-size: 1.05em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}

#root {
  margin: 0px 200px;
  background-color: white;
  padding: 10px 100px;
}

.content {
  /*padding: 100px 200px;*/
  display:inline-block;
  float: left;
  margin-right: 400px;
  background: white;
}

.layout {
  display: inline-block;
}


.navbar {
  position: relative;
  height: 200px;
}

.logo {
  float: right;
}

.tabs {
  position: absolute;
  bottom: 0;
  padding-left: 0;
}

.tabs li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  text-align: center;
  list-style-type: none;
  padding: 0px 10px;
}

.tabs:hover {
  cursor: pointer;
}
.tabs li:hover {
  color: darkgrey;
  user-select: none;
}

.no-select, .no-select * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}