
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-size: 1em;
  font-family: 'Work Sans', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 40px 0;
}


h1 { font-size: 3em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }


textarea:focus, input:focus{
    outline: none;
}

strong {
  color: red;
}

p {
  text-align: justify;
  margin-bottom: 20px;
}

p a {
  text-decoration: underline;
  color: red;
  font-size: 1.2em;
  text-align: right;
}

.layout {
  display: inline;
}

.mapbox {
  border: 5px solid black;
  display:inline-block;
  width: 100%;
}

.mapbox img {
  width: 100%;
}

.rightStrip .logo {
  width: 100%;
  height: 100%;
  padding: 2%;
}

.content {
  display:inline-block;
  width: 100%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.contentLeft {
  display: inline-block;
  width: 100%;
}

.contentRight {
  width: 0%;
  display: inline-block;
  vertical-align: top;
}

.navbar {
  display: none;
  width: 100%;
  background-color: black;
  color: white;
  /*text-align: center;*/
  padding-bottom: 25px;
}

.navbar .tabs {
  margin-left: 0;
  bottom: 0;
  padding-left: 0;
  padding-top: 40px;
}

.navbar .tabs li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  text-align: center;
  list-style-type: none;
  padding: 0px 25px 0px 0px;
}

.navbar .tabs a:hover, a.active {
  color: red;
}

.navbar.navbar-responsive {
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 100px;
  background-color: black;
}

.navbar.navbar-responsive .menu-button {
  float: left;
  line-height: 90px;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: black;
}

.navbar.navbar-responsive .logo {
  width: 100px;
  padding: 5px;
  float: right;
}

.navbar.navbar-responsive .navbar-responsive-top,
.navbar.navbar-responsive .navbar-responsive-bottom {
  width: 100%;
  background: inherit;
}

.navbar.navbar-responsive .navbar-responsive-top {
  height: 100px;
}

.navbar-responsive .tabs {
  display: inline-block;
  padding: 0;
}

.navbar-responsive .tabs a {
  display: inline-block;
  width: 100%;
  float: left;
  text-align: left;
}

.navbar-responsive .tabs li {
  display: inline-block;
  float: left;
  text-align: left;
  font-size: 2em;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
/*
.navbar-responsive {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 125px;
  width: 125px;
  padding: 10px;
  text-align: center;
  background: rgba(0,0,0,0.9);
  font-family: sans-serif;
  font-weight: bolder;
  color: white;
  display: inline-block;
}

.navbar-responsive .tabs {
  position: fixed;
  top: 145px;
  left: 20px;
  line-height: 75px;
  font-size: 2em;
  background-color: inherit;
  display: inline-block;
  padding: 0px 10px;
  width: 100%;
  left: 0;
}

.navbar-responsive .tabs li {
  display: inline;
  width: 100%;
  list-style-type: none;
  float: left;
  text-align: left;
}
*/
.no-select, .no-select * {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.email-form {
  width: 100%;
}

.email-form .text-input, .email-form .textarea-input {
  display: inline;
  width: 100%;
  margin-bottom: 10px;
  border: 5px solid black;
  padding: 6px 10px;
}

.email-form .textarea-input {
  height: 200px;
}

.email-form .submit-button {
  background: black;
  color: white;
  border: none;
  padding: 5px 10px;
  float: right;
}

/* Media Queries */
@media only screen and (min-width: 1024px) { 
  .navbar.navbar-responsive {
    display: none;
  }
  .navbar {
    display: inline-block;
    width: 100%; 
    text-align: left;
    padding-left: 50px;
  }

  * {
    font-size: 1.05em;
  }


  .contentLeft {
    width: 60%;
  }

  .contentRight {
    padding-top: 125px;
    width: 40%;
  }

  .content {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .contentRight {
    padding-top: 2%;
  }
}