<!-- start footer section -->
<footer>
    <div class="container">
        <div class="row">
        
            <div class="col-md-6 sm-margin-30px-bottom">
                <img alt="footer-logo" width="150" src="/images/logos/zero-logo-white-raleway.png">
                <p class="margin-20px-top">
                    <%= data.site.footer.description %>
                </p>
            </div>

            <div class="col-md-6 sm-margin-30px-bottom">
                <h3 class="footer-title-style2">
                    <%= data.site.footer.quickLinks %>
                </h3>
                <div class="row">
                    <div class="col-md-6 no-padding-right xs-padding-15px-right">
                        <ul class="footer-list xs-margin-5px-bottom">

                            <li><a href="/">Home</a></li>
                            <li><a href="/services">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 no-padding-right xs-padding-15px-right">
                        <ul class="footer-list">
                            <li><a href="/work">Case Studies</a></li>
                            <li><a href="/insights">Insights</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-bar xs-font-size13">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left xs-text-center xs-margin-5px-bottom">
                    <p>&copy;<%= Time.now.year %> Zero Projects, Inc. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer section -->